
       {% extends "GestionAcademicaWebApp/base.html" %}
        


        {% load static %}

        {%  block content %}
        
          <div class="jumbotron">
                <h1 class="display-4">Sistema integral de gestión académica del CIMA</h1>
                <p class="lead">Actualiza tu informacion de estudios en los modulos del sistema</p>
              </div>
          

          <body>
              <div class="card" style="left: 100px;">

                <h3 class="card-header info-color white-text text-center py-4" style="background-color:rgb(44, 111, 236);">
                    <strong>Bienvenido</strong>
                </h3>
                <!--Card content-->
                <div class="card-body px-lg-5">
                    <!-- Formulario -->
                    <form class="text-center"  style="font:bolder;" method="POST">                            
                        <h5><p><strong>Inicia sesión para actualizar tu informacion de estudios.</strong></p></h5>
                        <p><a> <strong>Ingresa tus datos</strong></a></p>
                    </form>
                    
                </div>
            </div>

            <div class="card cards2" style="left: 810px;">

              <h3 class="card-header info-color white-text text-center py-4" style="background-color:rgb(44, 111, 236); right: 55;">
                  <strong>Bienvenido</strong>
              </h3>
              <!--Card content-->
              <div class="card-body px-lg-5" style="text-align: center;">                  
                     <h5><p><strong>Inicia sesión para actualizar tu informacion de estudios.</strong></p></h5>
                      <p><a> <strong>Ingresa tus datos</strong></a></p>

              </div>
          </div>
        </body>
        {%  endblock %}

   


        
            
            
            
    