{% extends "GestionAcademicaWebApp/base.html" %}

{% load static %}

{% block content %}


<title>  {% block title %} Login {% endblock title %} </title>


    <center>
        <div class="container3">
            <div class="logins">
                <h3 class="card-header info-color white-text text-center py-4">
                    <strong>Bienvenido</strong>
                </h3>
            </div>
            <!--Card content-->
            <div class="card-bodys px-lg-5">
                <!-- Formulario -->
                <form class="text-center" style="font:bolder;" method="POST">
                    {% csrf_token %}
                    <h5>
                        <p><strong> Inicia sesión para actualizar tu informacion de estudios. </strong></p>
                    </h5>
                    <p><a><strong> Ingresa tus datos </strong></a></p>

                    {% for field in form %}
                    <p>
                        {{field.label_tag}}
                        {{field}}
                    </p>
                    {% endfor %}
                    <button class="btn btn-dark writebtn my-4" type="submit">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </center>


 


{% endblock content %}