{% extends "GestionAcademicaWebApp/base.html" %}

{% load static %}

{% block content %}


<html>
<title> {% block title %} Egresados {% endblock title %} </title>

<head>

</head>

<body>

    


    <div class="jumbotron2">
        <h1 class="display-4">Hola Estudiante</h1>
        <p class="lead" style="font-weight: bolder;">Inicia sesion si acabas de concluir tus estudios.</p>
        {% if user.is_authenticated == False %}
        <a href="{% url 'login' %}">
            <button type="button" class="btn btn-dark " style="font-weight: bold;">Loguearse</button>
        </a>
        {% endif %}
        <p>
        <p class="lead" style="font-weight: bolder;">Ó llena la encuesta para actualizar tu estatus académico.</p>
        <a href="{% url 'registro' %}">
            <button type="button" class="btn btn-dark " style="font-weight: bold;">Encuesta</button>
        </a>
        </p>
    </div>

</body>


</html>


{% endblock content %}