
{% extends "GestionAcademicaWebApp/base.html" %}


{% block content %}
   
 
{% if user.is_authenticated == False %}
<div class="card"> 
    <h3 class="card-header info-color white-text text-center py-4" style="background-color:rgb(89, 142, 240);">
        <strong>Bienvenido</strong>
    </h3>
    <!--Card content-->
    <div class="card-body px-lg-5">
        <!-- Formulario -->
        <form class="text-center"  style="font:bolder;" method="POST" action="{% url 'login' %}"> 
            {% csrf_token %} 
            <h5><p><strong>Inicia sesión para actualizar tu informacion de estudios.</strong></p></h5>
            <p><a> <strong>Ingresa tus datos</strong></a></p>
            {{ formlogin }}   
             <!-- boton inicar sesion -->  
            <button class="btn btn-dark writebtn my-4" type="submit">Inicia sesión</button>
             
        </form>
        <!-- Form -->
    </div>
</div>
{% endif %}



            <div class="card-body">
                <p>  </p>
                <p> </p>
                <p>  </p>
            </div>
{% endblock %}